<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <wicket:head>
        <link type="text/css" rel="stylesheet" href="../css/CandidateEditorPage.css">
    </wicket:head>
</head>
<body>
<wicket:extend>
    <div class="container">

        <div class="col-md-2">
            <div class="row">
                <img id="photo" src="cinqueterre.jpg" class="img-thumbnail" alt="photo" wicket:id="photo">
            </div>
            <div class="row">
                <form action="post" class="form-inline" role="form" wicket:id ="updatePhotoForm">
                    <div class="form-group">
                        <input class="branded-update-file-input" type="file" wicket:id="updatePhoto"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>Update</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#profile" role="tab" data-toggle="tab">
                        <i class="fa fa-user"></i><span class="tab-label">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#address" role="tab" data-toggle="tab">
                        <icon class="fa fa-home"></icon><span class="tab-label">Postal Address</span>
                    </a>
                </li>
                <li>
                    <a href="#career" role="tab" data-toggle="tab">
                        <i class="fa fa-building-o"></i><span class="tab-label">Career</span>
                    </a>
                </li>
                <li>
                    <a href="#skills" role="tab" data-toggle="tab">
                        <i class="fa fa-cog"></i><span class="tab-label">Skills</span>
                    </a>
                </li>
                <li>
                    <a href="#education" role="tab" data-toggle="tab">
                        <i class="fa fa-cog"></i><span class="tab-label">Education</span>
                    </a>
                </li>
                <li>
                    <a href="#interests" role="tab" data-toggle="tab">
                        <i class="fa fa-cog"></i><span class="tab-label">Interests</span>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade active in" id="profile">
                    <h2>Your Profile</h2>
                    <form class="form-horizontal" wicket:id="candidateForm">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="careerDesc">Career Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="careerDesc" wicket:id="careerDesc" placeholder="Career Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="firstName">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstName" wicket:id="firstName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="surname">Surname</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="surname" wicket:id="lastName" placeholder="Surname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" wicket:id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="phone">Phone</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" wicket:id="phone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="maritalStatus">Marital-Status</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="maritalStatus" wicket:id="maritalStatus" placeholder="Marital-Status">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="birthYear">Birth-Year</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="birthYear" wicket:id="birthYear" placeholder="Birth-Year">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="earlyStartDate">Early Start Date</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="earlyStartDate" wicket:id="earlyStartDate" placeholder="Early Start Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="salaryExpectation">Salary Expectation</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="salaryExpectation" wicket:id="salaryExpectation" placeholder="Salary Expectation">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="address">
                    <h2>Your Postal Address</h2>
                    <form class="form-horizontal" wicket:id="addressForm">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="street1">Street-1</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="street1" wicket:id="street1" placeholder="Street">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="street2">Street-2</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="street2" wicket:id="street2" placeholder="Street">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="houseNr">House Nr.</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="houseNr" wicket:id="houseNr" placeholder="House Nr.">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="postalCode">Postal-Code</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="postalCode" wicket:id="postalCode" placeholder="Postal-Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="city">City</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="city" wicket:id="city" placeholder="City">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="country">Country</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="country" wicket:id="country" placeholder="Country">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="career">
                    <h2>Career History</h2>
                    <img src="http://lorempixel.com/400/400/cats/2" alt="Cats"/>
                </div>
                <div class="tab-pane fade" id="skills">
                    <h2>Your Skills</h2>
                    <img src="http://lorempixel.com/400/400/cats/3" alt="Cats"/>
                </div>
                <div class="tab-pane fade" id="education">
                    <h2>Education History</h2>
                    <img src="http://lorempixel.com/400/400/cats/4" alt="Cats"/>
                </div>
                <div class="tab-pane fade" id="interests">
                    <h2>Your Interests</h2>
                    <img src="http://lorempixel.com/400/400/cats/4" alt="Cats"/>
                </div>
            </div>
            <div class="row" wicket:id="feedback"/>
        </div>
    </div>
</wicket:extend>
</body>
</html>